$black:	    #000000;
$white:     #FFFAFA;
$blue:      #88c7cc;
$darkblue:  #030d2e;
$lily:      #c6d8f0;
$purple:    #d8bfd8;

//after
$strong_purple: #9932CC;
$strong_lily:   #7B68EE;
$strong_blue:   #0d33a3;
$bg_blue:       #080A66;
