$black:	    #000000;
$white:     #FFFAFA;
$blue:      #b0e0e6;
$darkblue:  #030d2e;
$lily:      #c6d8f0;
$purple:    #d8bfd8;

//after
$strong_purple: #9932CC;
$strong_lily:   #7B68EE;
$stong_blue:    #4169E1;
